[submodule "aqua_profile"]
	path = aqua_profile
	url = git@github.com:aquarockslug/aqua_profile.git
[submodule "aqua_keymap"]
	path = aqua_keymap
	url = git@github.com:aquarockslug/aqua_keymap.git
[submodule "aqua_nvim"]
	path = aqua_nvim
	url = git@github.com:aquarockslug/aqua_nvim.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/dracula/zsh.git
; [submodule "aqua_qtile"]
; 	path = aqua_qtile
; 	url = git@github.com:aquarockslug/aqua_qtile.git
